#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateLicenseInformationInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateLicenseInformationInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE LicenseInformation SET $update WHERE id=$ctx.args.updateLicenseInformationInput.id", "SELECT * FROM LicenseInformation WHERE id=$ctx.args.updateLicenseInformationInput.id"]
}