#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createPendingReportInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createPendingReportInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO PendingReport $colStr VALUES $valStr", "SELECT * FROM PendingReport WHERE id=$ctx.args.createPendingReportInput.id"]
}