#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createPurchaseReportInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createPurchaseReportInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO PurchaseReport $colStr VALUES $valStr", "SELECT * FROM PurchaseReport WHERE id=$ctx.args.createPurchaseReportInput.id"]
}